.nowrap {
    white-space: nowrap;
}

.card-body {
    padding: 1rem;
}

.team-member-image-container {
    width: 30%;
    max-width: 300px;
    min-width: 100px;
    flex-shrink: 0;
    margin-right: 20px;
}

.team-member-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-member-info {
    flex-grow: 1;
}

.list-inline-item .btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    min-width: 95px;
    margin-bottom: 0.5em;

}

.list-inline-item .btn:hover,
.list-inline-item .btn:focus {
    background-color: var(--nav-active-color);
    border-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.02);
}

@media (max-width: 575px) {
    .nowrap {
        white-space: normal;
    }

    .card-body {
        flex-direction: column;
        text-align: center;
    }

    .team-member-image-container {
        width: 50%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}